{% if ansible_facts['distribution'] == 'Ubuntu' %}
user {{ www_ubnt }};
{% elif ansible_facts['distribution'] == 'CentOS' %}
user {{ www_cent }};
{% endif %}
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {}

http {

	server {
		listen 80;

		server_name _;

		access_log  {{ access_log }};
		error_log  /var/log/nginx/error.log;
		
		root         /usr/share/nginx/html;

        location / {
        }

	error_page 404 /404.html;
        location = /404.html {
        }

	error_page 500 502 503 504 /50x.html;
        location = /50x.html {
	}

	}	
}
